html 
    head    
        title Index page
        style.
            * { background-color : green;}
        script(src="https://code.jquery.com/jquery-1.12.4.min.js")
        script.
            $(function(){
                var alpha = 0;
            });
    body 
        h1 hello jade 
        h2 glad to meet you
        hr 
        a(href = "http://www.naver.com")  Go to Naver 
